<h1> <%=@user.name%>'s Profile </h1>

<% @virtues.each do |virtue| %>
	<p><%= virtue.title %></p>
	<ul>
	<% virtue.items.each do |item| %>

		<li><%= item.name %></li>

	<% end %>
	</ul>
	<% if @user == current_user %>
		<p> Edit | Destroy </p>
	<% end %>
<% end %>