<section id="aboutContent">
<div class="container">
<div id="transmitter">
    <section id="singlePageContent">
        <div class="container profile">
			<h1 class="row text-center custom-title"> <%=@user.name%>'s Random Acts of Kindness </h1>
			<ul>
                <li class="info-item">
                    <p>
                        <span>Karma Points:</span><br>
                        50
                    </p>
                </li>
                <li class="info-item">
                    <p>
                        <span>Acts completed</span><br>
                        10
                    </p>
                </li>

            </ul>
        </div>
		<%= render 'acts/content'%>
		<br>
		<br>
		
            
		<%= link_to "add a new act of kindness", new_act_path, :class => "btn btn-success", :type => "button" %>
		<br>
		<br>
		<%= link_to "Your to do list" , to_do_user_path(@user), :class => "btn btn-info", :type => "button" %>
    </section>
</div>
</div>
</section>