<div class="profile">
<h3> Welcome back </h3>
<h1> <%=@user.name%>'s Random Acts of Kindness </h1>
<%= render 'acts/content'%>
<br>
<br>
<%= link_to "add a new act of kindness", new_act_path%>
<br>
<%= link_to "Your to do list" , to_do_user_path(@user)%>
</div>
