<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">
        <div class="profile">
<%= render 'acts/content'%>



<p><%= link_to "add a new act of kindness", new_act_path%></p>
<p><%= link_to "to do list" , to_do_user_path(@user)%></p>
</div>
</section>
</div>
</section>
</div>
</div>
</section>