<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">
<h1> To do List </h1>
<%= render 'acts/content'%>
</div></section></div></div></section>