<div class="row index-main text-center">
<h1>Moral Bucket List</h1>
<h4>Become the person you want to be</h4>
<%= link_to 'Be inspired', '/' %> |
<% if current_user %>
	<%= link_to 'Profile', profile_path %> |
	<%= link_to 'Feed', '/dash' %>
<% else %>
	<%= link_to 'Start your journey', '/users/sign_up' %>
<% end %>
</div>

<div class="row index-about">
<h1>About</h1>
<p>Inspired by The Moral Bucket List, words words words.</p>
</div>

