

<!-- ADDING BOOTSTRAP THEME BELOW -->
    

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="intro">
            <!-- <div class="black-overlay"></div> -->
            <div class="container valign">
                <div class="row">
                    <!-- ***Insert Logo Here***
                    <div class="col-md-12">
                        <img src="img/logoWhite.png" class="img-responsive center-block introLogo" alt="Intro Logo">
                    </div> -->
                    <div class="col-md-offset-2 col-md-8 text-center">

                       <div class = "head-tag"> <h1><small>the muditā project</small></h1></div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-4 col-md-4 introSmallCaption text-center">
                        <p>
                            (n.) delight in the happiness of others;
                             <br>a state of sympathetic, vicarious joy
                        </p>
                        <% if current_user %>
							<%= link_to 'See your journey', user_path(current_user), class: "btn btn-default btn-white" %>
						<% else %>
							<%= link_to 'Begin your journey', '/users/sign_up', class: "btn btn-default btn-white" %>
						<% end %>
                    </div>
                </div>
            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END Intro  */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="text-separator">
            <div class="container-fluid">
                
     <!--            <img src="/assets/textSeparatorLogo.png" class="textSepLogo" data-stellar-ratio="0.5" alt="Logo Black"> -->

                <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 text-center">
                        <h2 data-scroll-reveal="enter left move 10px over 1s after 0.2s">
                            <span class="serif">“There's no such thing as a small act of kindness. Every act creates a ripple with no logical end.”</span> 
                        </h2>

                        <!-- <img src="img/incline-white.png" class="inclineLine center-block" alt="incline"> -->

                        <p data-scroll-reveal="enter left move 10px over 1s after 0.3s">

                            There are many random acts of kindess in the world, yet people seldom realize how such small acts can go a long way. Our goal is to help people celebrate random acts of kindness and share them with friends and fellow do-gooders. It is our strong belief that technology can actually<em> aid </em>personal growth and remind us that success isn't being better than others, rather it is being better than you used to be. 


                        </p>
                    </div>
                </div>



            </div>
        </section>
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* END TEXT SEPARATOR */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <!--/* about SECTION */-->
        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
        <section id="aboutIntro">

            <div class="container">

                <!-- <div class="parallaxIcon aboutParallax" data-stellar-ratio="0.1" data-stellar-vertical-offset="-100" >
                    <img class="img-responsive" src="assets/parallax.png" alt="icon">
                </div> -->

                <!--header-->
                <div class="row sectionIntro">
                    <div class="col-md-6 col-md-offset-3 text-center"  data-scroll-reveal="enter top move 10px over 1s after 0.2s">
                        <h1><span>How it Works</span></h1>

                        <img src="assets/incline-white.png" class="inclineLine center-block" alt="incline">
                        <h4><span class="serif">“Be kind, for everyone you meet is fighting a harder battle.”</span></h4>

                        <img src="assets/zigzagsep.png" class="img-responsive center-block zigzagSep" alt="separator">
						
						<p data-scroll-reveal="enter left move 10px over 1s after 0.3s">
                            <div class = "col-md-4 text-center">
                           <h1><i class="fa fa-gift"></i></i></h1>
                           <p>Browse the newsfeed or the Acts of Random Kindness to see what your fellow do-gooders are up to.</p>
                            </div>
                            <div class = "col-md-4 text-center">
                            <h1> <i class="fa fa-check-square-o"></i></h1>
                            <p>Add acts to your to-do list or to your completed acts if you've done them already to get more Karma Points!</p>
                            </div>
                            <div class = "col-md-4 text-center">
                            <h1><i class="fa fa-child"></i></h1>
                            <p>Friend people to see what they're up to via the Friend Feed and plan to do random acts of kindness together.</p>
                            </div>

                        </p>
                    </div>
                </div>
                <!--end header-->


            </div>

        </section>




        <section id="footer" class="dark">


            <div class="topLine clearfix">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-12 footerBox">
                            <h4>muditā:</h4>
                            <p>
                                Vicki and Aleka's final project for iXperience.
                                <br> August 2015. Cape Town, South Africa
                            </p>
                        </div>

                         <div class="col-md-4 col-sm-4 col-xs-12 footerBox">

                         <div class="col-md-5 col-sm-12 text-center">
                            <%= image_tag("vicki.jpg", size: "150", :class => "img-circle") %>
                            </div>

                            <div class="col-md-2 col-sm-12">
                            <br>
                            </div>

                            <div class = "col-md-5 text-center ">
                            <%= image_tag("aleka.jpg", size: "150", :class => "img-circle") %>
                            </div>
                         </div>


                    


                        <div class="col-md-4 col-sm-4 col-xs-12 footerBox">
                            <h4>Contact Us</h4>
                            <h4><i class="fa fa-envelope-o"></i> </h4>
                            
                            <div class="row">

                                <div class="col-md-12">
                                    <ul class="infoContact">
                                        <li><a href="mailto:aleka@u.northwestern.edu?Subject=Hello" target="_top"> aleka@u.northwestern.edu</a></li>
                                         <li><a href="mailto:vickiliu@umich.edu?Subject=Hello" target="_top"> vickiliu@umich.edu</a></li>
                                    </ul> 
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


           
        </section>

       
