<hr class="intro-divider">
<% @events.each do |event| %>
	<p><%=link_to User.find(event.user_id).name, user_path(User.find(event.user_id))%> 
	<% if event.activity == "created new act" %>
	 added a new act of kindness: 
	<% elsif event.activity == "add to do"%>
	 added an act of kindness to their to-do list: 
	<%else%>
	 finished an act of kindness: 
	<% end %>

	<%= link_to Act.find(event.act_id).name, act_path(Act.find(event.act_id))%> </p>
<hr class="intro-divider">
<%end%>