<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">
        <div class="dash">
<div class="welcome-statement">
<h1>Welcome back, <%= current_user.name %></h1>
<h3>Here's what your friends are up to: </h3>
</div>

<%=render 'events/feed' %>





</div>
</div>
</section>
</div>
</div>
</section>