<section id="aboutContent">
<div class="container">
<div id="transmitter">
    <section id="singlePageContent">
        <div class="container">
	        <div class="dash">
				<div class="welcome-statement">

					<h4><small>See what everyone is up to:</small> </h4>
					<%=image_tag "zigzagsep@2x.png", :class => "img-responsive center-block zigzagSep",:alt => "separator",:width =>"100", :height => "12"%>

				</div>
				<br>

				<%=render 'events/feed' %>

			</div>
			</div>
	</section>
</div>
</div>
</section>