<div class="row">
<div class="alert-bar col-md-6 offset-col-md-3 text-center">
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>