<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">
<%= render 'form' %>
</div></section></div></div></section>