<section id="aboutContent">
<div class="container">
<!--content-->
<div id="transmitter">
    <!--section-->
    <section id="singlePageContent">
        <div class="container">
<h1>Acts index page</h1>
<%= render 'acts/content'%>


<%= link_to "add a new act of kindness", new_act_path%>
</div></section></div></div></section>